In [1]:
from sklearn import linear_model
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('prices.csv')

In [3]:
df

     Rooms  Distance  Value
0    7.489    1.9709   50.0
1    7.802    2.0407   50.0
2    8.375    2.1620   50.0
3    7.929    2.0459   50.0
4    7.831    3.1992   50.0
..     ...       ...    ...
344  5.966    6.8185   16.0
345  5.613    1.7572   15.7
346  5.924    4.3996   15.6
347  5.757    2.3460   15.6
348  5.468    1.4118   15.6

[349 rows x 3 columns]

In [4]:
y = df['Value'] # dependent variable
X = df[['Rooms', 'Distance']] # independent variable

lm = linear_model.LinearRegression()
lm.fit(X, y) # fitting the model
pickle.dump(lm, open('model.pkl','wb')) # save the model

print(lm.predict([[15, 61]]))  # format of input
print(f'score: {lm.score(X, y)}')

[77.52315295]
score: 0.5931902892603973

C:\workspace_github\ml-web-app\venv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(